@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@font-face {
	font-family: 'Myriad Pro';
	src: url('/public/fonts/MyriadPro-Regular.eot');
	src: url('/public/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/MyriadPro-Regular.woff') format('woff'),
	url('/public/fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
